
%h3 Activities

- if @activities.any?
  %tabe.activities-list
    - @activities.each do |activity|
      %tr{id: "activity#{activity.id}"}
        %td 
          = link_to activity.name, activity_path(activity.id)
        %td
          = activity.created_at
- else
  No activities
