
%h3 Activities
%ul.activities-list
  - if @activities.any?
    - @activities.each do |activity|
      %li{id: "activity#{activity.id}"}
        = link_to activity.name, activity_path(activity.id)
  - else
    No activities
