
= link_to "New activity", new_activity_path

- if @activities.count > 0
  %ul#activities-list
    - @activities.each do |activity|
      %li{id: ["activity", activity.id]}
        = activity.name
- else
  No activities
